.container {
    margin-bottom: 100px;
}

.editor-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.preview {
    display: inline-block;
    cursor: pointer;
    height: 28px;
    width: 28px;
    margin: auto 10px;
}

.markdown-textarea {
    min-height: 400px;
}
