.button {
    padding: 10px 30px;
    margin: 5px;
    border: 1px solid #dfe2e9;
    border-radius: 50em;
    background: white;
    font-size: 16px;
    color: #488dff;
}

.button:hover {
    background: #488dff;
    color: white;
}

.button:focus {
    outline: none;
}

.button:disabled {
    background: none;
    color: black;
}

.button.is-active {
    background: #488dff;
    color: white;
}
