.button {
    padding: 10px 30px;
    margin: 5px;
    border: 1px solid #dfe2e9;
    border-radius: 50em;
    background: white;
    font-size: 16px;
    color: #488dff;
}

.button:hover {
    background: #488dff;
    color: white;
}

.button:disabled {
    background: #ccc;
    color: white;
}

.button.is-active {
    background: #488dff;
    color: white;
}
