body {
    margin: 0;
    color: #4a4a4a;
    background: #f0f2f5;
    font-family: sans-serif;
}

.content {
    margin: 20px auto;
    max-width: 1200px;
    min-width: 500px;
    padding: 0 30px;
}
