.gist-item {
  border: #dfe2e9 solid 1px;
  border-radius: 5px;
  margin: 10px 0;
  display: block;
  background: #f2f4f7;
  padding: 1em;
  color: #333333;
  overflow-x: auto;
}

.gist-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

a {
  color: #488dff;
}

